body{
    background-color: rgb(9, 2, 55);
}

.navbar{
    background-color: rgb(193, 229, 255);
}

.c-img{
max-width: 100%;
max-height: 525px;
opacity: 50%;
}
.wordz{
align-items: center;
font-size: 90px;
opacity: 70%;
color: rgb(193, 229, 255);
}